<section class="content">
  <div class="row">
    <div class="col-sm-6">
      <h1>Domains</h1>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-xen pull-right" (click)="addDomain()">ADD DOMAIN +</button>
    </div>
  </div>

  <hr class="mt-2 mb-3" />

  <div class="row">
    <div class="col-sm-12" *ngIf="domains.length == 0">
      <h5>No domains defined. Click "Add domain" for add a new domain.</h5>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let domain of domains; let i = index">
      <div class="box box-widget domu-box">
        <div class="box-header with-border">
          <h2 class="box-title"> DOMU-{{domain.name}} </h2>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool domain-actions" (click)="modifyDomain(i)">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-box-tool domain-actions" (click)="deleteDomain(i)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <p>Info</p>
          <table class="table table-borderless border-only-row">
            <thead>
              <tr>
                <th>Info</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>KERNEL</td>
                <td>{{domain.kernel}}</td>
              </tr>
              <tr>
                <td>RAMDISK</td>
                <td>{{domain.ramdisk}}</td>
              </tr>
              <tr>
                <td>MEM</td>
                <td>{{domain.memory | numberToBytes}}</td>
              </tr>
              <tr>
                <td>VCPUS</td>
                <td>{{domain.vcpus}} Virtual CPUs</td>
              </tr>
              <tr>
                <td>COLORS</td>
                <td>
                  <span *ngFor="let color of domain.colors" class="label cache-coloring-label"
                    [ngStyle]="colorLabel(color)">{{color}}</span>
                </td>
              </tr>
              <tr>
                <td>PASSTHROUGH_DTB</td>
                <td>{{domain.passthrough_dtb}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>