<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <h1>Read Device Tree</h1>

      <hr class="mt-2 mb-3" />

      <div class="row">
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload DTS File</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01" (change)="handleFileInput($event.target.files)"
                accept=".dts, .DTS, .dtb, .DTB">
              <label class="custom-file-label" for="inputGroupFile01">{{dtsFile ? dtsFile.name :
                (deviceTreeData.filename != "" ? deviceTreeData.filename : "no dts selected") }}</label>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right"
            title="Attention: The application recognizes and can only read dts format files. If you have only a dtb file, please install dtc software for convert it (this software can exec it)." style="border-radius: 50px; width: 40px;">
            ?
          </button>
        </div>
      </div>

      <pre id="json-viewer" style="background-color: white;"></pre>

      <div *ngIf="deviceTreeJson != null" class="row">

        <div class="col-sm-3">
          <div class="box box-default collapsed-box" data-widget="box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">Hardware overview</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <ul>
                <li>Number of CPUs: {{deviceTreeData.numberOfCPUs}}</li>
                <li>Number of Memories: {{deviceTreeData.numberOfMemories}}</li>
                <li>Number of available devices: {{deviceTreeData.numberOfAvailableDevices}}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="box box-default collapsed-box" data-widget="box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">Memories</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <ul *ngFor="let memory of deviceTreeData.memories">
                <li>Memory start address: 0x{{memory.startAddress.toString(16)}}</li>
                <li>Memory size: {{memory.size | numberToBytes}}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="box box-default collapsed-box" data-widget="box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">Available Devices</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <ul *ngFor="let device of deviceTreeData.availableDevices">
                <li>{{device.name}} : 0x{{device.address.toString(16) }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="box box-default collapsed-box" data-widget="box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">Disabled Devices</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <ul *ngFor="let device of deviceTreeData.disabledDevices">
                <li>{{device.name}} : 0x{{device.address.toString(16) }}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        Unable to load file!
      </div>

      <hr class="mt-2 mb-3" />
      <hr class="mt-2 mb-3" />
      <hr class="mt-2 mb-3" />

    </div>
  </div>
</section>