<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" *ngIf="domain.name">Domu update</h4>
  <h4 class="modal-title" id="modal-basic-title" *ngIf="!domain.name">Domu create</h4>
</div>
<form #domainForm="ngForm" (ngSubmit)="onSubmit(domainForm)">
  <div class="modal-body">
    <div class="mb-3">
      <div class="row">
        <div class="col-sm-2" style="padding-right: 0px;">
          <p style="margin-top:5px">Domain name:</p>
        </div>
        <div class="col-sm-5" style="padding-left: 0px;">
          <input type="text" class="form-control" name="name" ngModel required #name="ngModel" maxlength="16"
            placeholder="domain name">
        </div>
      </div>
    </div>

    <hr class="mt-2 mb-3" />

    <div class="mb-3">
      <table class="table table-borderless border-only-row">
        <thead>
          <tr>
            <th>Info</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>KERNEL</td>
            <td>
              <div class="row">
                <div class="col-sm-4">
                  <a class='btn btn-xen' href='#'>
                    Search file
                    <input type="file" class="without-label" name="file_source" size="40"
                      (change)="domainForm.form.patchValue({kernel: $event.target.files.item(0).name})">
                  </a>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="kernel" ngModel required #kernel="ngModel"
                    placeholder="insert kernel name">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>RAMDISK</td>
            <td>
              <div class="row">
                <div class="col-sm-4">
                  <a class='btn btn-xen' href='#'>
                    Search file
                    <input type="file" class="without-label" name="file_source" size="40"
                      (change)="domainForm.form.patchValue({ramdisk: $event.target.files.item(0).name})">
                  </a>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="ramdisk" ngModel required #ramdisk="ngModel"
                    placeholder="insert ramdisk name">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              MEM
              <!--span class="invalid-feedback" [ngStyle]="{'display':domain.memory > 0 ? 'none' : 'block' }"
                style="max-width:200px">
                Please assign more than 1 Byte.
              </span-->
            </td>
            <td>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                  <div class="custom-slider-dom-mem">
                    <ngx-slider #mem_slider [(value)]="domain.memory" [options]="memory_options"
                      (userChange)="onChangeSliderMem($event)">
                    </ngx-slider>
                  </div>
                </div>
                <div class="col-sm-1">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p>VCPUS
                <span class="invalid-feedback" [ngStyle]="{'display':domain.vcpus > 0 ? 'none' : 'block' }"
                  style="max-width:200px">
                  Please assign at least 1 vcpu.
                </span>
              </p>
            </td>
            <td>
              <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                  <div class="custom-slider-dom-vcpu">
                    <ngx-slider #vcpus_slider [(value)]="domain.vcpus" [options]="vcpus_options"
                      (userChange)="onChangeSliderVcpus($event)">
                    </ngx-slider>
                  </div>
                </div>
                <div class="col-sm-1">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>START COMMAND</td>
            <td><input type="text" class="form-control" name="bootargs" ngModel required #bootargs="ngModel"
                placeholder="insert full start command"></td>
          </tr>
          <tr *ngIf="domain.name != 'DOM0'">
            <td>PASSTHROUGH_DTB</td>
            <td><input type="text" class="form-control" name="passthrough_dtb" ngModel #passthrough_dtb="ngModel"
                placeholder="insert passthrough dtb or leave empty"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success pull-right">Save</button>
    <button type="button" class="btn btn-warning pull-left" (click)="close()">Discard</button>
  </div>
</form>