<app-titlebar
  class="main-header"
  [title]="appTitle"
  [appwindow]="ourApp"
>
</app-titlebar>

<app-sidebar>
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img
          src="./assets/images/dp.png"
          class="img-circle"
          alt="Precious Keyz Image"
        />
      </div>
      <div class="pull-left info">
        <p>The Administrator</p>
      </div>
    </div>

    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat">
      <i class="fa fa-search"></i>
      </button>
      </span>
      </div>
      </form>

    <ul class="sidebar-menu" data-widget="tree">

      <li
        title="Read dts"
        class="treeview"
        routerLinkActive
        #das_read_dts="routerLinkActive"
        [routerLink]="['/mainapp/read-device-tree']"
        [class.active]="das_read_dts.isActive"
      >
        <a [routerLink]="['/mainapp/read-device-tree']">
          <i class="fa fa-folder"></i> <span> Read dts</span>
        </a>
      </li>

      <li
        title="Boot Configuration"
        class="treeview"
        routerLinkActive
        #das_boot_configuration="routerLinkActive"
        [routerLink]="['/mainapp/boot-configuration']"
        [class.active]="das_boot_configuration.isActive"
      >
        <a [routerLink]="['/mainapp/boot-configuration']">
          <i class="fa fa-dashboard"></i> <span> Boot configuration</span>
        </a>
      </li>

      <li
        title="Domains"
        class="treeview"
        routerLinkActive
        #das_domains="routerLinkActive"
        [routerLink]="['/mainapp/domains']"
        [class.active]="das_domains.isActive"
      >
        <a [routerLink]="['/mainapp/domains']">
          <i class="fa fa-building"></i> <span> Domains</span>
        </a>
      </li>



      <li title="Sign Out" class="treeview" (click)="logout()">
        <a>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span> Sign Out</span>
        </a>
      </li>
    </ul>
  </section>
</app-sidebar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
