<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Enable manual cache coloring</h4>
</div>
<div class="modal-body">
  <div class="mb-3">
    <div class="row">
      <div class="col-sm-12" style="padding-right: 0px;">
        <p style="margin-top:5px">Are you sure you want to activate this advanced feature?</p>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success pull-left" (click)="close(true)">Confirm</button>
  <button type="button" class="btn btn-warning pull-left" (click)="close(false)">Dismiss</button>
</div>