<section class="content">
  <div class="row">
    <div class="col-sm-6">
      <h1>Domain Details</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-xen pull-right" style="margin-top:10px" (click)="returnToDomains()">
        << Return to Domains</button>
    </div>
  </div>

  <hr class="mt-2 mb-3" />

  <div class="row">

    <div class="col-sm-12">
      <div class="box box-widget domu-box">
        <div class="box-header with-border">
          <h2 class="box-title"> {{domain.name}} </h2>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool domain-actions" (click)="reload()">
              <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-box-tool domain-actions" (click)="modifyDomain()">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-box-tool domain-actions" (click)="deleteDomain()">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <p>Info</p>
          <table class="table table-borderless border-only-row">
            <thead>
              <tr>
                <th>Info</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>KERNEL</td>
                <td>{{domain.kernel}}</td>
              </tr>
              <tr>
                <td>RAMDISK</td>
                <td>{{domain.ramdisk}}</td>
              </tr>
              <tr>
                <td>MEM</td>
                <td>{{domain.memory | numberToBytes}}</td>
              </tr>
              <tr>
                <td>VCPUS</td>
                <td>{{domain.vcpus}} Virtual CPUs</td>
              </tr>
              <tr>
                <td>START COMMAND</td>
                <td>{{domain.start_command}}</td>
              </tr>
              <tr>
                <td>COLORS</td>
                <td>
                  <span *ngFor="let color of domain.colors" class="label cache-coloring-label"
                    [ngStyle]="colorLabel(color)">{{color}}</span>
                </td>
              </tr>
              <tr>
                <td>PASSTHROUGH_DTB</td>
                <td>{{domain.passthrough_dtb}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <hr class="mt-2 mb-3" />

  <div class="row dom-details-custom-device">

    <div class="col-sm-12" style="height:100%;min-height: 700px;">
      <div class="box box-widget domu-box" style="height:100%;min-height: 700px;">
        <div class="box-header with-border">
          <h2 class="box-title"> Devices selection </h2>
        </div>
        <div class="box-body">
          <div class="row">

            <div class="col-sm-4">

              <div class="row margin-top-45">
                <div class="col-sm-5">
                  <button type="button" class="btn btn-block btn-primary btn-success" (click)="selectAll()">Select
                    all</button>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                  <button type="button" class="btn btn-block btn-primary btn-warning" (click)="unselectAll()">Unselect
                    all</button>
                </div>
              </div>
              <hr class="mt-2 mb-3" />

              <div class="row">
                <div class="col-sm-4" *ngFor="let device of deviceTreeData.availableDevices">
                  <button type="button" class="btn btn-block btn-primary device-btn" data-toggle="tooltip"
                    data-placement="top"
                    title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                    (click)="selectDevice(device)"
                    [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">{{device.name.toUpperCase()}}</button>
                </div>
              </div>

            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-7">
              <div class="chip-image">
              </div>
              <div class="row text-center margin-top-30">
                <div class="col-sm-4">
                  <h3>Peripheral</h3>
                  <div class="row margin-top-45">
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'ethernet'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'spi'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'cci'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'gpio'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'gpu'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h3>internal</h3>
                  <div class="row margin-top-45">
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'dma'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'nand'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'rtc'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'timer'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'watchdog'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'pcie'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'ahci'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'zynqmp_phy'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-4"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'zynqmp_display'"
                      [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h3>Peripheral</h3>
                  <div class="row margin-top-45">
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'ams'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'can'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'usb'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'serial'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                    <div class="col-sm-12"
                      *ngFor="let device of deviceTreeData.availableDevices | deviceNameFilter:'i2c'">
                      <div class="device-image-div" data-toggle="tooltip" data-placement="top"
                        title="{{device.name.toUpperCase()}} @ {{device.address.toString(16).toUpperCase()}}"
                        [ngClass]="isDeviceSelected(device) ? 'selected-btn' : ''">
                        <img src="/assets/images/icons/{{device.name}}.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="mt-2 mb-3" />

  <div class="row">

    <div class="col-sm-12">
      <div class="box box-widget domu-box">
        <div class="box-header with-border">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="box-title"> Manual Cache coloring </h2>
            </div>
            <div class="col-sm-6">

              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="manual_cache_coloring_enabled" id="defaultCheck1" (change)="enable_manual_cache_coloring(manual_cache_coloring_enabled)">
                <label class="form-check-label" for="defaultCheck1">
                  Enable feature
                </label>
              </div>

            </div>
          </div>
        </div>
        <div class="box-body" *ngIf="manual_cache_coloring_enabled">
          <p>Select free colors</p>
          <span *ngFor="let color of all_colors" class="label cache-coloring-label" [ngStyle]="colorLabel(color, true, 'copy')"
            (click)="AddColor(color)">{{color}}
          </span>
          <br>
          <br>
          <br>
          <p>Color summary</p>
          <span *ngFor="let color of domain.colors" class="label cache-coloring-label" [ngStyle]="colorLabel(color, false, 'alias')"
            (click)="RemoveColor(color)">{{color}}
          </span>
          <br>

        </div>
      </div>
    </div>
  </div>

  <!-- autosave 
  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-block btn-success" (click)="saveDomain()" >Save</button>
    </div>
  </div>

  <div class="toast mt-3">
    <div class="toast-header">
      Toast Header
    </div>
    <div class="toast-body">
      File Saved!
    </div>
  </div>
-->


</section>